<div class="page">
  <div class="header">
    <header>
      <div class="logo-row row">
        <div class="large-7 small-10 small-centered large-centered columns">
          <div class="row">
            <div class="large-8 small-8 columns">
                <a href="/#home"><img class="logo" src="https://webfiles.uci.edu/shaohuaz/share/prelinked/prelinked.png" alt="PreLinked"></a>
              </div>
            <div id="user-view" class="large-4 small-4 columns"></div>
          </div>
        </div>
      </div>
    </header>
  </div>

  <div class="show-for-small row">
    <a id="tab-search" data-tab="search" class="arrow_box small-4 columns tab" href="javascript:;">Search Filters</a>
    <a id="tab-jobs" data-tab="jobs" class="arrow_box small-4 columns tab" href="javascript:;">Job Results</a>
    <a id="tab-network" data-tab="network" class="arrow_box small-4 columns tab" href="javascript:;">Network</a>
  </div>

  <div id="main">
    <div class="loader"></div>
  </div>
</div><!-- .page -->

<div class="footer">
  <footer>
    <div class="row">
      <div class="large-centered columns">
        <div class="row collapse">
          <div id="footer">
            <div class="left col">
              <strong>&copy; PreLinked, 2013</strong>
            </div>
            <div class="left col">
              <div><strong>Powered By:</strong></div>
              <a href="javascript:;"><i class="icon-linkedin"></i></a> +
              <a href="javascript:;"><i class="icon-indeed"></i></a>
            </div>
            <div class="left col">
              <div><strong>Made At:</strong></div>
              <a href="javascript:;"><i class="icon-hackreactor"></i></a>
            </div>
            <div class="left col">
              <div><strong>Hire Us:</strong></div>
              <a href="javascript:;">Hao Liu</a><br>
              <a href="javascript:;">ShaoHua Zhou</a><br>
              <a href="javascript:;">Stephen Portanova</a><br>
              <a href="javascript:;">Barry Wong</a>
            </div>
            <div class="left col">
              <div><strong>Fork Me!</strong></div>
              <a href="javascript:;"><i class="icon-github"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div><!-- .footer -->
<script type="text/javascript">
  analytics.identify('demo_user', {
    email : 'demo@prelinked.com'
  });
</script>