<div class="row">
  <div class="large-centered columns">
    <div class="row collapse">
      <br><a href="#"><img src="https://webfiles.uci.edu/shaohuaz/share/prelinked/prelinked.png" alt="PreLinked"></a><br>
    </div>
  </div>
</div>
<hr>

<!--
<div>
  <h1>
    {{app_title}}
  </h1>
</div>
-->
<div id="main">
  Loading...
</div>
