<div class="page">
  <div class="header">
    <header>
      <div class="collapse logo-row row">
        <div class="large-centered columns">
          <div class="row collapse">
            <div class="large-6 small-6 columns">
              <a href="/#home"><img class="logo" src="https://webfiles.uci.edu/shaohuaz/share/prelinked/prelinked.png" alt="PreLinked"></a>
            </div>
            <div id="user-view" class="large-6 small-6 columns"></div>
          </div>
        </div>
      </div>
    </header>
  </div>

  <div id="main">
    <div class="loader"></div>
  </div>
</div><!-- .page -->

<div class="footer">
  <footer>
    <div class="row">
      <div class="large-centered columns">
        <div class="row collapse">
          <div id="footer">
            <div class="left col">
              <strong>&copy; PreLinked, 2013</strong>
            </div>
            <div class="left col">
              <div><strong>Powered By:</strong></div>
              <a href="javascript:;"><i class="icon-linkedin"></i></a> +
              <a href="javascript:;"><i class="icon-indeed"></i></a>
            </div>
            <div class="left col">
              <div><strong>Made At:</strong></div>
              <a href="javascript:;"><i class="icon-hackreactor"></i></a>
            </div>
            <div class="left col">
              <div><strong>Hire Us:</strong></div>
              <a href="javascript:;">Hao Liu</a><br>
              <a href="javascript:;">ShaoHua Zhou</a><br>
              <a href="javascript:;">Steven Portanova</a><br>
              <a href="javascript:;">Barry Wong</a>
            </div>
            <div class="left col">
              <div><strong>Fork Me!</strong></div>
              <a href="javascript:;"><i class="icon-github"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div><!-- .footer -->
<script type="text/javascript">
  analytics.identify('demo_user', {
    email : 'demo@prelinked.com'
  });
</script>