<div class="page">
  <div class="header">
    <header>
      <div class="logo-row row">
        <div class="large-centered columns">
          <div class="row collapse">
            <div class="large-6 columns">
              <a loghref="/#home"><img class="logo" src="https://webfiles.uci.edu/shaohuaz/share/prelinked/prelinked.png" alt="PreLinked"></a>
            </div>
            <div id="user-view" class="large-6 columns"></div>
          </div>
        </div>
      </div>
    </header>
  </div>

  <div id="main">
    <div class="loader"></div>
  </div>
</div><!-- .page -->

<div class="footer">
  <footer>
    <div class="row">
      <div class="large-centered columns">
        <div class="row collapse">
          <div id="footer">
            &copy; PreLinked, 2013
            <script type="text/javascript">
              analytics.identify('demo_user', {
                email : 'demo@prelinked.com'
              });
            </script>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div><!-- .footer -->