<div class="logo-row row">
  <nav class="top-bar" style="">
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">

      </li>
      <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="left">
        <li class="has-dropdown not-click"><a href="/grid.php">Item 1</a>

          <ul class="dropdown"><li class="title back js-generated"><h5><a href="#">« Back</a></h5></li>
            <li class=""><label>Level One</label></li>
            <li class=""><a href="#search">Search</a></li>
            <li class="divider"></li>
            <li class=""><a href="#">Sub-item 2</a></li>
          </ul>
        </li>
        <li class="divider"></li>
      </ul>
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider hide-for-small"></li>
        <li class=""><a href="/#login">Log in</a></li>
        <li class=""><a href="/logout">Log out</a></li>
      </ul>
    </section>
  </nav>

  <div class="large-centered columns">
    <div class="row collapse">
      <br><a href="#"><img class="logo" src="https://webfiles.uci.edu/shaohuaz/share/prelinked/prelinked.png" alt="PreLinked"></a><br>
    </div>
  </div>
</div>

<div id="main">
  Loading...
</div>

<div class="row">
  <div class="large-centered columns">
    <div class="row collapse">
      <div id="footer">
        &copy; PreLinked, 2013
        <script type="text/javascript">
          analytics.identify('demo_user', {
            email : 'demo@prelinked.com'
          });
        </script>
      </div>
    </div>
  </div>
</div>