<div class="connection-results">
  Loading...
</div>
<div>
  <img src="http://placekitten.com/g/50/50">
  <img src="http://placekitten.com/g/50/50">
  <img src="http://placekitten.com/g/50/50">
  <img src="http://placekitten.com/g/50/50">
  <img src="http://placekitten.com/g/50/50">
</div>
<fieldset>
  <legend><a href="#">Homer Simpson</a></legend>
  <h3>Nuclear Power Technician</h3>
  <img src="http://placekitten.com/g/50/50">
  <p>
    Butcher gluten-free craft beer, est you probably havent heard of them Neutra vegan. Hella actually velit, Brooklyn Vice esse sed art party cardigan deserunt beard tattooed. Tofu hella exercitation deep v bespoke. Odd Future authentic roof party pickled, messenger bag mollit Pinterest consequat fashion axe shabby chic seitan kogi irony nihil.
  </p>
</fieldset>
