
  <h3>Your Network ({{number_of_connections}})</h3>
  <div id="login-box">
    <div class="loader"></div>
  </div>

  <div id="connection-results" class="scroll">
    <div class="loader"></div>
  </div>

