
  <p class="allResults left"><strong>{{number_of_connections}} related connections</strong></p>
  <div class="sorting right">
    Connections:
    <a id="all-connections" href="javascript:;">All</a>
  </div>

  <div id="login-box" class="clearfix">
    <div class="loader"></div>
  </div>

  <div id="connection-results" class="scroll">
    <div class="loader"></div>
  </div>

