<fieldset >
  <legend><a href="#">{{number_of_connections}} connections</a></legend>
  <button data-reveal-id="myModal" data-reveal-ajax="http://some-url">
    Click Me For A Modal
  </button>
  <a href="" data-reveal-id="myModal">Click Me For A Modal</a>
  <div id="connection-results">
    Loading...
  </div>
</fieldset>
