<fieldset >
  <legend><a href="#">{{number_of_connections}} connections</a></legend>
  <script type="in/Login">
    Hello, <?js= firstName ?> <?js= lastName ?>.
  </script>
  <script>
    IN.init();
  </script>
  <div id="connection-results" class="scroll">
    Loading...
  </div>
</fieldset>
