<fieldset >
  <legend><a href="#">{{number_of_connections}} connections</a></legend>
  <!--script type="IN/Login">
    Hello, <?js= firstName ?> <?js= lastName ?>!
  </script-->

  <a class="in-login button" data-reveal-id="loginModal">login with linkedin</a>

  <div id="connx">
    Loading...
  </div>
  <div id="connection-results" class="scroll">
    Loading...
  </div>

  <!--script>
    console.log('LinkedIn isAuth:', IN.User.isAuthorized());
    IN.init();
  </script-->
</fieldset>
