
  <h3><a href="" class="allResults">Your Network ({{number_of_connections}})</a></h3>
  <div id="login-box">
    <div class="loader"></div>
  </div>

  <div id="connection-results" class="scroll">
    <div class="loader"></div>
  </div>

