
  <h3>Your Network ({{number_of_connections}})</h3>
  <div id="login-box">
    Loading login-box ...
  </div>

  <div id="connection-results" class="scroll">
    Loading connection-results ...
  </div>

