<fieldset >
  <legend>{{number_of_connections}} connections</legend>
  <div id="login-box">
    Loading login-box ...
  </div>

  <div id="connection-results" class="scroll">
    Loading connection-results ...
  </div>
</fieldset>
