
  <p class="allResults"><strong>{{number_of_connections}} related connections</strong></p>
  Connections:
  <button id="all-connections" class="tiny">All</button>
  <div id="login-box">
    <div class="loader"></div>
  </div>

  <div id="connection-results" class="scroll">
    <div class="loader"></div>
  </div>

