
  <p class="allResults">{{number_of_connections}} related connections</p>
  <div id="login-box">
    <div class="loader"></div>
  </div>

  <div id="connection-results" class="scroll">
    <div class="loader"></div>
  </div>

