<fieldset >
  <legend>{{number_of_connections}} connections</a></legend>
  <!--script type="IN/Login">
    Hello, <?js= firstName ?> <?js= lastName ?>!
  </script-->
  <div id="login-box">
    Loading login-box ...
  </div>

  <div id="connection-results" class="scroll">
    Loading connection-results ...
  </div>

  <!--script>
    console.log('LinkedIn isAuth:', IN.User.isAuthorized());
    IN.init();
  </script-->
</fieldset>
