<div class="row">
  <div class="small-10 large-centered columns">
    <div class="row collapse">
      <form id="form-home">
        <!--<img src="../images/prelinked.png" alt="PreLinked">-->
        <h1>PreLinked</h1>
        <div class="small-5 columns">
          <label>Job</label>
          <input name="job-title" type="text" placeholder="Example: Software Engineer">
        </div>
        <div class="small-5 columns">
          <label>Location</label>
          <input name="job-location" type="text" placeholder="Example: San Francisco, CA">
        </div>
        <div class="small-2 columns">
          &nbsp;
          <button type="submit" class="button prefix">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>