<div class="row">
  <div class="small-10 large-centered columns">
    <div class="row collapse">
      <h1>Pre-Linked</h1>
      <div class="small-5 columns">
        <label>Job</label>
        <input type="text" placeholder="Example: Software Engineer">
      </div>
      <div class="small-5 columns">
        <label>Location</label>
        <input type="text" placeholder="Example: San Francisco, CA">
      </div>
      <div class="small-2 columns">
        &nbsp;
        <a href="#" class="button prefix">Search</a>
      </div>
    </div>
  </div>
</div>