<div class="row">
  <div class="large-6 columns">
    <div class="row collapse">
      <form id="form-home">
        <div class="large-10 columns">
          Search for Jobs near:
          <a href="#search">
            <img src="http://www.southportlandba.com/wp-content/uploads/2013/06/Maps-and-Geolocation-Marker-icon2.png">
            <strong>San Francisco, CA</strong>
          </a>
        </div>
        <div class="large-9 columns">
          <input class="full-width" name="job-title" type="text" placeholder="Enter job title (example: Software Engineer)">
        </div>
        <div class="large-3 columns">
          <button type="submit" class="button prefix">Search Jobs</button>
        </div>
      </form>
    </div>
  </div>
</div>