<div id="login-box" class="panel">
  {{#if checkLogin}}
    Hello, you are logged in.
  {{else}}
    <p>Log into LinkedIn to access your network.</p>
    <a class="in-login" href=""><img src="http://developer.linkedin.com/sites/all/themes/dlc/img/developer_signin.png"></a>
  {{/if}}
</div>