<div id="login-box">
  {{#if checkLogin}}
    <div></div>
  {{else}}
    <div class="panel">
      <p>Log into LinkedIn to access your network.</p>
      <a class="in-login" href="/auth/linkedin"><img src="http://developer.linkedin.com/sites/all/themes/dlc/img/developer_signin.png"></a>
    </div>
  {{/if}}
</div>