<div id="login-box" class="panel">
  {{#if checkLogin}}
    Hello, you are logged in.
  {{else}}
    <p>Log into LinkedIn to access your network.</p>
    <a class="in-login button">Log into LinkedIn</a>
  {{/if}}
</div>