<p>{{jobCount}} results for "{{jobTitle}}"</p>
{{!-- <a target="_blank" id="indeedLogo" href="http://www.indeed.com/" title="Job Search">
  <img src="http://www.indeed.com/p/jobsearch.gif" alt="Indeed job search">
</a> --}}
<div class="right">
  Rank:
  <a class="sortAsc button tiny" href="javascript:;">Up</a> |
  <a class="sortDesc button tiny" href="javascript:;">Down</a>
</div>


<div class="jobResults">
  <div class="loader"></div>
</div>