<div class="columns-box row">
  <div id="column-search" class="on search-col large-3 columns collapse">
    <div class="row hide-for-small">
      <h2 class="title-header title-search">Job Search</h2>
    </div>
    <div class="row column-left">
      <div class="column">
        <div id="search-filters">
          <div class="loader"></div>
        </div>
        <div id="search-recent">
          <div class="loader"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="column-jobs" class="search-col large-5 columns collapse">
    <div class="row hide-for-small">
      <h2 class="title-header title-jobs arrow_box">Job Results</h2>
    </div>
    <div class="row column-mid">
      <div class="column">
        <div id="job-results">
          <div class="loader"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="column-network" class="search-col large-4 columns collapse">
    <div class="row hide-for-small">
      <h2 class="title-header title-network arrow_box">Network</h2>
    </div>
    <div class="row column-right">
      <div class="column">
        <div id="connections">
          <div class="loader"></div>
        </div>
      </div>
    </div>
  </div>
</div>