<label>
  Job Search
  <input type="text" placeholder="text">
</label>
<label>
  Location
  <input type="text" placeholder="text">
</label>
<select>
  <option>option 1</option>
  <option>option 2</option>
  <option>option 3</option>
</select>
<label><input type="radio" name="item" value="1"> item1</label>
<label><input type="radio" name="item" value="1"> item1</label>
<label><input type="radio" name="item" value="1"> item1</label>
<label><input type="checkbox" name="item" value="1"> item1</label>
<label><input type="checkbox" name="item" value="1"> item1</label>
<label><input type="checkbox" name="item" value="1"> item1</label>