<h3>Jobs for "{{jobTitle}}" ({{jobCount}})</h3>
    <a target="_blank" id="indeedLogo" href="http://www.indeed.com/" title="Job Search">
      <img src="http://www.indeed.com/p/jobsearch.gif" alt="Indeed job search">
    </a>

<div>
  <a class="sortAsc" href="">sort asc</a>
  <span> | </span>
  <a class="sortDesc" href="">sort desc</a>
</div>

<div class="jobResults">
  <div class="loader"></div>
</div>