<div class="row">
  <div class="column-left large-3 columns">
    <div id="search-filters"><div class="loader"></div></div>
    <div id="search-recent"><div class="loader"></div></div>
  </div>
  <div id="job-results" class="large-5 columns">
    <div class="loader"></div>
  </div>
  <div id="connections" class="large-4 columns">
    <div class="loader"></div>
  </div>
</div>