<h3>Jobs for "{{jobTitle}}" ({{jobCount}})</h3>

<div>
  <a class="sortAsc" href="">sort asc</a>
  <span> | </span>
  <a class="sortDesc" href="">sort desc</a>
</div>

<div class="jobResults">
  <div class="loader"></div>
</div>