<div class="row">
  <div id="search-filters" class="large-3 columns">
    SeachFilter loading...
  </div>
  <div id="job-results" class="large-5 columns">
    JobResults loading...
  </div>
  <div id="connections" class="large-4 columns">
    Connections loading...
  </div>
</div>