<h3>Recent Searches</h3>
<div id="search-recent-details">
  <ul>
    <li><a href="javascript:;">recent 1</a></li>
    <li><a href="javascript:;">recent 2</a></li>
    <li><a href="javascript:;">recent 3</a></li>
  </ul>
</div>

