<p>{{jobCount}} results for "{{jobTitle}}"</p>
<a target="_blank" id="indeedLogo" href="http://www.indeed.com/" title="Job Search">
  <img src="http://www.indeed.com/p/jobsearch.gif" alt="Indeed job search">
</a>

<div>
  <a class="sortAsc" href="javascript:;">sort asc</a> |
  <a class="sortDesc" href="javascript:;">sort desc</a>
</div>

<div class="jobResults">
  <div class="loader"></div>
</div>