<a class="button tiny secondary" href="javascript:;">
  {{#if jobTitle}}
    <span>{{jobTitle}}</span>
  {{/if}}
  {{#if company}}
    <span>{{company}}</span>
  {{/if}}
  {{#if jobKeywords}}
    <span>{{jobKeywords}}</span>
  {{/if}}
  {{#if distance}}
    <span>{{distance}} miles</span>
  {{/if}}
</a>

