<p class="left"><strong>{{jobCount}} results for "{{jobTitle}}"</strong></p>
<div class="sorting right">
  Rank:
  <a class="sortAsc" href="javascript:;">Up</a> |
  <a class="sortDesc" href="javascript:;">Down</a>
</div>

<div class="jobResults clearfix">
  <div class="loader"></div>
</div>