<fieldset>
  <legend>432 results for "Software Engineer"</legend>
  <div>
    <a href="#">Software Engineer</a>
  </div>
  <div>
    <a href="#">Software Engineer</a>
  </div>
  <div>
    <a href="#">Software Engineer</a>
  </div>
</fieldset>