<h3>Search Jobs</h3>
<form id="form-search">
  <label>
    Job
    <input id="jobTitleSearchInput" name="job-title" type="text" placeholder="Example: Software Engineer">
  </label>
  <div> 
    <ul>
    {{#each jobTitle}}
      <li>{{this}} <a class="jobTitleFilter {{this}}"> X </a></li>
    {{/each}}
    </ul>
  </div>
  <label>
    Location
    <input name="job-location" type="text" placeholder="Example: San Francisco, CA">
  </label>
  <label>
    Keywords
    <input name="job-keywords" type="text" placeholder="Example: Javascript, Node.js">
  </label>

  {{! <p>Salary</p>
  <ul>
    <li><label><input type="checkbox" name="item" value="1"> item1</label></li>
    <li><label><input type="checkbox" name="item" value="1"> item1</label></li>
    <li><label><input type="checkbox" name="item" value="1"> item1</label></li>
  </ul>

  <p>Title</p>
  <ul>
    <li><label><input type="checkbox" name="item" value="1"> item1</label></li>
    <li><label><input type="checkbox" name="item" value="1"> item1</label></li>
    <li><label><input type="checkbox" name="item" value="1"> item1</label></li>
  </ul>

  <p>Company</p>
  <ul>
    <li><label><input type="checkbox" name="item" value="1"> item1</label></li>
    <li><label><input type="checkbox" name="item" value="1"> item1</label></li>
    <li><label><input type="checkbox" name="item" value="1"> item1</label></li>
  </ul> }}
  <button id="searchFilterButton">Search</button>
</form>