imgUrlBody = 'https://webfiles.uci.edu/shaohuaz/share/prelinked/bg-striped.gif'
imgUrlLoader = 'https://webfiles.uci.edu/shaohuaz/share/prelinked/loader.gif'
imgUrlConnection = 'https://webfiles.uci.edu/shaohuaz/share/prelinked/connection.png'
imgUrlSpriteFooter = 'https://webfiles.uci.edu/shaohuaz/share/prelinked/sprite-footer.png'
imgUrlHomeBg = 'https://webfiles.uci.edu/shaohuaz/share/prelinked/home-bg.png'

