//this file is compiled to target.css
//then copied to dist/styles/main.css
body
  background-color #f2f2f2
h1, h2, h3, h4
  font-family Play, helvetica, sans-serif
#app .logo
  width 220px
#app ul li
  list-style-type none
#app .page.current
  display block
#app fieldset .scroll
  max-height 600px
  overflow-y scroll
.each-connection
  position relative
.each-connection .modal-details .image
  position absolute
  top 0
  left 0
.each-connection .info
  margin-left 90px
  min-height 90px
.each-connection .info h2
  font-size 18px
  margin-bottom 5px
.each-connection .info .headline
  font-size 14px
  line-height 20px
.reveal-modal ul li
  list-style-type none
.reveal-modal .info h2
  margin-bottom 5px
.job
  clear both
.job h2
  font-size 22px
  line-height 22px
  margin-bottom 5px
.job .info
  list-style-type none
  font-size 14px
  line-height 18px
.job .location
  color #aaa
#search-filters .filter-item.button
  padding-right 0
#search-filters .filter-item .rm
  font-weight normal
  padding 8px 8px 8px 2px
  color #aaa
  line-height 0
  font-size 15px
.column-left
  background-color #d1f2ff
  margin-top 20px
#search-filters .filter-item:hover .rm
  color #000
#search-filters .filter-item .rm:hover
  color red
#job-results
  border-radius 5px
  background-color #fff
  min-height 300px
#job-results .loader, #connections .loader
  min-height 300px
#connections
  margin-top 20px
  background-color #ddd
#connections.scroll
  max-height 600px
  overflow-y auto
.loader
  background url(https://webfiles.uci.edu/shaohuaz/share/prelinked/loader.gif) no-repeat 50% 50%
  height 40px
.inputFilter
  position relative
.addFilterButton
  position absolute
  top 2px
  right 2px
.distanceRange
  width 70px
  height 40px
img.topbar-photo
  width 45px
  height 45px