//this file is compiled to target.css
//then copied to dist/styles/main.css
#app ul li
  list-style-type none
// #app .page
//   display none
#app .page.current
  display block
#app fieldset .scroll
  max-height 600px
  overflow-y scroll
.each-connection
  position relative
.each-connection a.modal-details.img img
  position absolute
  top 0
  left 0
.each-connection .info
  margin-left 90px
  min-height 90px