html,body{background:url("https://webfiles.uci.edu/shaohuaz/share/prelinked/bg-striped.gif") #fff repeat}
h1,h2,h3,h4,.tab{font-family:Play,helvetica,sans-serif}
.clearfix{clear:both}
#app .logo{width:220px}
#app ul li{list-style-type:none}
#app .page.current{display:block}
#app fieldset .scroll{max-height:600px;overflow-y:scroll}
.white-wall{top:0;left:0;height:100%;width:100%;position:absolute;background:#fff;opacity:.5;z-index:9999999}
.each-connection{position:relative}
.each-connection .modal-details .image{position:absolute;top:0;left:0}
.each-connection .info{margin-left:90px;min-height:90px}
.each-connection .info h2{font-size:18px;margin-bottom:5px}
.each-connection .info .headline{font-size:14px;line-height:20px;margin-top:-5px}
.reveal-modal ul li{list-style-type:none}
.reveal-modal .info h2{margin-bottom:5px}
.job{clear:both}
.job h2{font-size:20px;line-height:22px;margin-bottom:5px}
.job .info{list-style-type:none;font-size:14px;line-height:18px;margin-left:20px}
.job .location{color:#aaa}
#search-filters .filter-item.button{padding-right:0}
#search-filters .filter-item .rm{font-weight:normal;padding:8px 8px 8px 2px;color:#aaa;line-height:0;font-size:15px}
.column-left{background-color:#d1edf6;padding-top:10px}
.column-mid{background-color:#fff;min-height:300px;padding-top:10px}
.column-right{background:#ddd;padding-top:10px}
#search-filters .filter-item:hover .rm{color:#000}
#search-filters .filter-item .rm:hover{color:#f00}
#job-results .loader,#connections .loader{min-height:300px}
#connections.scroll{max-height:600px;overflow-y:auto}
.loader{background:url("https://webfiles.uci.edu/shaohuaz/share/prelinked/loader.gif") no-repeat 50% 50%;height:40px}
.inputFilter{position:relative}
.addFilterButton{position:absolute;top:2px;right:2px;height:29px}
.distanceRange{width:70px;height:40px}
img.topbar-photo{width:45px;height:45px}
.name{display:inline-block;color:#2ba6cb}
.industry{display:inline-block;margin-left:70px;position:relative;bottom:5px}
.modalHeader{text-align:center;border:solid #808080 3px;border-radius:1em}
.positions{margin-top:20px}
.summary{font-size:.8em}
.modal{border-radius:.5em}
.positionsHeader{margin-top:25px;margin-bottom:-15px}
.summaryHeader{border-top:dashed #2ba6cb 3px;padding-top:20px;margin-bottom:5px}
.sectionLabel{color:#2ba6cb;font-weight:bold}
.inline{display:inline-block}
.viewProfileButton{color:#fff}
.viewProfileContainer{text-align:center}
.viewProfileButton:hover{color:#fff}
.viewProfileContainer button{top:45px}
div.degree{display:inline-block;margin-left:3px;background:#e1e9ec;text-align:center;font-size:14px;width:30px;border-radius:.2em}
.connectionLocation{font-size:12px;color:#808080}
#indeedLogo{position:absolute;top:10px;right:20px}
.numberOfConnections{display:inline-block;margin-left:3px;font-size:16px;color:#666}
.exitModal{position:absolute;top:8px;right:20px}
.exitModal:hover,.showRelations{margin-top:25px}
.interConnectionInfoLI{width:80px;display:inline-block;color:#f00}
.page{background:#f2f2f2}
.header{background-color:#fff;border-bottom:2px solid #03487d;padding-top:20px}
.footer{border-top:10px solid #03487d;font-size:14px;padding:50px 0}
.header #user-view ul{margin-bottom:0}
.showConnectButton:hover{color:#fff;background-color:#444}
.showConnectButton{background:url("https://webfiles.uci.edu/shaohuaz/share/prelinked/connection.png") no-repeat 95% 50% #666;padding:6px 25px 6px 2px;border:1px solid #666;border-radius:2px;color:#fff;text-align:center;width:54px;font-size:14px;text-decoration:none}
.icon-indeed,.icon-linkedin,.icon-hackreactor,.icon-github{background-image:url("https://webfiles.uci.edu/shaohuaz/share/prelinked/sprite-footer.png");height:38px;display:inline-block;vertical-align:middle;opacity:.6}
.icon-indeed{background-position:-106px 0;width:92px}
.icon-linkedin{background-position:276px 0;width:40px}
.icon-hackreactor{background-position:121px 3px;width:121px}
.icon-github{background-position:0 0;width:45px}
.footer .col{margin:10px 5% 10px 0}
.footer .col strong{margin-bottom:5px;display:block;color:#666}
#page-home{background:url("https://webfiles.uci.edu/shaohuaz/share/prelinked/home-bg.png") 50% 50% no-repeat;padding:100px 0}
.home-search-text{font-size:20px;line-height:28px}
#page-home #jobLocation{background-color:#f3f3f3;box-shadow:0 0 10px #f3f3f3}
.wsn{white-space:nowrap}
#search-filters #jobLocation{font-size:16px}
img.topbar-photo,.each-connection .modal-details .image{border-radius:4px}
#user-view .logout{font-size:12px}
#page-search{padding-bottom:20px}
#page-search h2.title-header.title-search{background-color:#03497e;z-index:2}
#page-search h2.title-header{margin:20px 0 0 0;line-height:28px;font-size:20px;padding:10px 30px;color:#fff;text-align:center;text-shadow:2px 2px 2px #000}
.columns-box .title-network{background-color:#666}
.columns-box .title-network.arrow_box{z-index:1}
.columns-box .title-network.arrow_box{background-color:#666;color:#fff}
.columns-box .title-search.arrow_box:after{border-left-color:#03497e}
.columns-box .title-network.arrow_box:after{border-left-color:#666}
.columns-box .title-jobs{background:#0596d5;z-index:1}
.columns-box .arrow_box{position:relative}
.columns-box .arrow_box:after{left:100%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none}
.columns-box .arrow_box:after{border-color:rgba(136,183,213,0);border-left-color:#0596d5;border-width:23px;top:50%;margin-top:-23px}
.modal-details{position:relative}
.modal-details .degree{position:absolute;top:-5px;left:52px;font-size:14px;color:#555;box-shadow:1px 1px 2px #666}
#notification{background-color:#fff6a4;position:relative}
#notification .message{text-align:center;padding:10px 40px}
#notification .close-notification{padding:10px;position:absolute;right:0;top:0;color:#000;text-decoration:none}
#form-home{border:10px solid #ccc;border-radius:4px;font-size:18px}
#form-home input{font-weight:bold;text-align:center}
#form-home button,#form-home input{margin-bottom:0}
.f-dropdown input,.f-dropdown button{margin-bottom:0}
.column .sorting{line-height:28px;font-size:14px}
@media only screen and (max-width: 768px){.column-left,.column-mid,.column-right{padding-top:20px}
#column-search,#column-jobs,#column-network{display:none}
.tab{z-index:1;position:relative;color:#fff;text-align:center;padding:10px;text-decoration:none}
.tab:hover{color:#fff}
.tab.on{color:#fff;text-shadow:1px 1px 1px #000}
#column-search.on,#column-jobs.on,#column-network.on{display:block}
.columns-box{position:relative}
.tab.on:after{top:100%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none;border-width:12px;left:50%;margin-left:-12px;border-color:rgba(136,183,213,0)}
#tab-search{background:#03497e}
#tab-search.on:after{border-top-color:#03497e}
#tab-jobs{background:#0596d5}
#tab-jobs.on:after{border-top-color:#0596d5}
#tab-network{background:#666}
#tab-network.on:after{border-top-color:#666}
}