#app ul li{list-style-type:none}
#app .page.current{display:block}
#app fieldset .scroll{max-height:600px;overflow-y:scroll}
.each-connection{position:relative}
.each-connection .modal-details .image{position:absolute;top:0;left:0}
.each-connection .info{margin-left:90px;min-height:90px}
.each-connection .info .name{font-size:18px}
.each-connection .info .headline{font-size:14px;line-height:20px}
