<!doctype html>
<head>
  <title>{{title}}</title>
  {{{block "stylesheets"}}}
</head>

<body>
  body: {{{body}}}

  <hr/>
    bottom_of_document
  <hr/>

  {{{block "bottom_of_document"}}}
</body>

</html>